.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-Bg{
  height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.App-link {
  color: #09d3ac;
}

.sidebar {
  max-width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.userName {
  text-transform: uppercase;
  font-weight: bold;
}

.signout {
  text-transform: capitalize !important;
  font-weight: bold !important;
  font-style: italic;
  text-decoration: underline !important;
}
